* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'PT Root UI';
  src: url("../fonts/PT-Root-UI_Regular.woff2") format("woff2"), url("../fonts/PT-Root-UI_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url("../fonts/PT-Root-UI_Medium.woff2") format("woff2"), url("../fonts/PT-Root-UI_Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url("../fonts/PT-Root-UI_Bold.woff2") format("woff2"), url("../fonts/PT-Root-UI_Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url("../fonts/DrukCyr-Medium.woff2") format("woff2"), url("../fonts/DrukCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'PT Root UI', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2e2e2e;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*='__container'] {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 40px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 64px;
}

.navbar > * {
  border: 1px solid #e4e4e4;
  border-right: none;
}

.navbar > *:last-child {
  border: 1px solid #e4e4e4;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 64px;
}

.navbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  height: 100%;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 90%;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  cursor: pointer;
}

.navbar__divider {
  background-color: #e4e4e4;
  width: 1px;
  height: 16px;
  margin: 0px 8px;
}

.navbar_dark {
  color: #ffffff;
}

.navbar_dark > * {
  border: 1px solid #4d4d4d;
  border-right: none;
}

.navbar_dark > *:last-child {
  border: 1px solid #4d4d4d;
}

.navbar_dark .logo path {
  fill: #ffffff;
}

.navbar_dark .navbar__divider {
  background-color: #4d4d4d;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  padding: 23px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 90%;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  white-space: nowrap;
  cursor: pointer;
}

.header__container {
  max-width: 100%;
}

.hero {
  position: relative;
  height: 120vh;
  text-align: center;
  color: #ffffff;
  background: url("../img/hero-background.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.hero__image-forward {
  position: absolute;
  inset: 0;
  height: 120vh;
  background: url("/img/hero-background-down.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: 10;
}

.hero__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__fixed {
  position: fixed;
  top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.hero__title {
  font-family: 'Druk Cyr', sans-serif;
  font-size: 96px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.hero__text {
  font-size: 20px;
  line-height: 140%;
  width: 50%;
}

.footer__container {
  max-width: 100%;
}

.footer {
  background-color: #2e2e2e;
}
