// === / IMPORTS ===
@import 'normalize.scss';
@import 'fonts.scss';
// === /IMPORTS ===

// === MIXINS ===
@mixin pt-root-ui {
  font-family: 'PT Root UI', sans-serif;
}

@mixin druk-cyr {
  font-family: 'Druk Cyr', sans-serif;
}
// === /MIXINS ===

// === VARIABLES ===
$breakpoints-xs-min: 0;
$breakpoints-sm-min: 576px;
$breakpoints-md-min: 768px;
$breakpoints-lg-min: 992px;
$breakpoints-xl-min: 1200px;
$breakpoints-xxl-min: 1400px;

$breakpoints-xs-max: $breakpoints-sm-min - 0.02px;
$breakpoints-sm-max: $breakpoints-md-min - 0.02px;
$breakpoints-md-max: $breakpoints-lg-min - 0.02px;
$breakpoints-lg-max: $breakpoints-xl-min - 0.02px;
$breakpoints-xl-max: $breakpoints-xxl-min - 0.02px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 48px;
$font-size-xxxxl: 72px;

$cl-text-primary-dark: #2e2e2e;
$cl-text-primary-light: #ffffff;

$cl-text-secondary-light: #adadad;

$cl-border-light: #e4e4e4;
$cl-border-dark: #4d4d4d;

$cl-slide-number: #707070;

$cl-contrast: #8a8cce;
// === /VARIABLES ===

// === COMMONS ===
body {
  @include pt-root-ui;
  font-size: $font-size-md;
  //font-weight: 500;
  color: $cl-text-primary-dark;

  @media (max-width: $breakpoints-md-max) {
    &.lock {
      overflow: hidden;
    }
  }
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 40px;
}
// === /COMMONS ===

// === COMPONENTS ===
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 40px;
  border: 1px solid $cl-border-light;
  background-color: inherit;
}

.link {
  color: $cl-text-primary-dark;
  font-size: $font-size-lg;
  font-weight: 500;
  line-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-transform: lowercase;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: $cl-contrast;
  }

  &_ghost {
    color: $cl-slide-number;
    font-size: $font-size-xs;
    line-height: 130%;
    justify-content: flex-start;
    padding: 8px 0 0;
    border-bottom: 0.6px solid $cl-slide-number;
    margin-right: auto;

    &:hover {
      color: $cl-text-primary-light;
      border-bottom: 0.6px solid $cl-text-primary-light;
    }
  }

  &_round {
    padding: 0;
  }
}

.btn {
  height: 64px;
  color: $cl-text-primary-dark;
  font-size: $font-size-lg;
  background: inherit;
  font-weight: 500;
  line-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 40px;
  text-transform: lowercase;

  white-space: nowrap;
  cursor: pointer;

  &_outline {
    border: 1px solid $cl-border-light;

    &:hover {
      color: $cl-text-primary-light;
      background-color: $cl-contrast;
      border: 1px solid $cl-contrast;

      svg {
        stroke: $cl-text-primary-light;
      }

      & .burger-btn__icon {
        span,
        &::before,
        &::after {
          background-color: $cl-text-primary-light;
        }
      }
    }
  }
}

.burger-btn {
  transition: 0.6s cubic-bezier(0.87, 0, 0.13, 1);

  &__icon {
    position: relative;
    width: 16px;
    height: 14px;

    span,
    &::before,
    &::after {
      background-color: $cl-text-primary-dark;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: 0.2s cubic-bezier(0.87, 0, 0.13, 1);
    }

    span {
      top: 6px;
    }

    &::before {
      content: '';
      top: 0;
    }

    &::after {
      content: '';
      bottom: 0;
    }
  }
}

.section-title {
  @include druk-cyr;
  font-size: $font-size-xxxxl;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.count-block {
  display: flex;
  gap: 40px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    @include druk-cyr;
    font-size: $font-size-xxxl;
    line-height: 110%;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__subtitle {
    color: $cl-text-secondary-light;
    text-transform: lowercase;
  }
}

.work-card {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  border: 1px solid $cl-border-light;
  padding: 24px;
  padding-top: 0;

  &__image {
    width: 100%;
    margin-bottom: 24px;
    object-fit: cover;

    &-wrapper {
      width: 100%;
    }
  }

  &__title {
    font-size: $font-size-xxl;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__description {
    line-height: 140%;
    margin-bottom: 24px;
  }

  &__link {
    justify-content: flex-start;
    padding: 0;
    margin-top: auto;
  }
}

.news-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  padding: 24px;
  border: 1px solid $cl-border-light;
  cursor: pointer;

  &__date {
    font-size: $font-size-xs;
    padding: 4px 6px;
    margin-right: auto;
    border: 1px solid $cl-border-light;
    border-radius: 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
  }

  &__description {
    font-size: $font-size-sm;
    line-height: 140%;
  }

  &_photo {
    grid-row: 1/3;
    position: relative;
    color: $cl-text-primary-light;
    border: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 16.21%, rgba(0, 0, 0, 0) 50%),
      url('../img/news-card/news-card-background-1.jfif') 50% 50% no-repeat;
    background-size: cover;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      inset: 0;
      background: url('../img/filters/noise.gif');
      opacity: 0.03;
      z-index: 0;
    }

    & * {
      z-index: 1;
    }

    .news-card__date {
      background: rgba($cl-text-primary-light, 0.24);
      border: 1px solid rgba($cl-text-primary-light, 0.32);
    }
  }
}
// === /COMPONENTS ===

// === HEADER ===
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: $cl-text-primary-light;

  @media (max-width: $breakpoints-md-max) {
    height: 48px;
  }

  &__btn {
    height: 100%;
  }

  &__burger-btn {
    display: none;
    padding: 0 16px;
    gap: 8px;
    z-index: 10;

    @media (max-width: $breakpoints-md-max) {
      display: flex;

      &.active {
        & .burger-btn__icon {
          span {
            transform: scale(0);
          }
          &::before {
            transform: rotate(45deg);
            top: 6px;
          }
          &::after {
            transform: rotate(-45deg);
            bottom: 6px;
          }
        }
      }
    }
  }

  &__contact-btn {
    @media (max-width: $breakpoints-md-max) {
      width: 100%;
      height: 64px;
      background-color: $cl-text-primary-light;
    }
  }

  &__menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.6s cubic-bezier(0.87, 0, 0.13, 1);
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    border: 1px solid $cl-border-light;
    border-left: none;
    border-right: none;

    @media (max-width: $breakpoints-lg-max) {
      gap: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 500;
    font-size: $font-size-lg;
    line-height: 90%;
    letter-spacing: -0.02em;
    text-transform: lowercase;
    white-space: nowrap;
    cursor: pointer;

    @media (max-width: $breakpoints-md-max) {
      position: relative;
      width: 100%;
      //padding: 16px 12px;
    }
  }

  &__link {
    &-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: $breakpoints-md-max) {
        padding: 12px 16px;
      }

      &:hover .link {
        color: $cl-contrast;
      }
    }
    color: $cl-text-primary-dark;
  }

  &__divider {
    background-color: $cl-border-light;
    width: 1px;
    height: 16px;
    margin: 0px 8px;
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    bottom: 100%;
    left: 0;
    padding: 12px 0px;

    @media (max-width: $breakpoints-md-max) {
      display: none;
      z-index: 100;
      position: static;
      top: 0;
      left: 0;
      border: 1px solid $cl-border-dark;
    }

    &-item {
      width: 100%;
      padding: 12px 20px;
      display: flex;
      justify-content: flex-start;

      @media (max-width: $breakpoints-md-max) {
        padding: 12px 16px;
      }

      &:hover {
        color: $cl-text-primary-light;
        background-color: $cl-contrast;
      }
    }

    &.active {
      bottom: auto;
      top: 100%;

      @media (max-width: $breakpoints-md-max) {
        display: block;
      }
    }
  }

  &_dark {
    color: $cl-text-primary-light;
    background-color: $cl-text-primary-dark;

    .logo {
      border: 1px solid $cl-border-dark;
      path {
        fill: $cl-text-primary-light;
      }
    }

    .link {
      color: $cl-text-primary-light;
      &:hover {
        color: $cl-contrast;
      }
    }

    .btn {
      color: $cl-text-primary-light;
      path {
        stroke: $cl-text-primary-light;
      }
      &_outline {
        border: 1px solid $cl-border-dark;
      }
    }

    .navbar {
      &__list {
        border-top: 1px solid $cl-border-dark;
        border-bottom: 1px solid $cl-border-dark;
        &-btn {
          path {
            fill: $cl-text-primary-light;
          }
          rect {
            stroke: $cl-border-dark;
          }
        }
      }
    }

    .burger-btn__icon {
      span,
      &::before,
      &::after {
        background-color: $cl-text-primary-light;
      }
    }
  }
}

.header {
  z-index: 10;

  &__navbar {
    transition: 0.8s cubic-bezier(0.33, 1, 0.68, 1);
    top: -64px;
    position: fixed;

    @media (max-width: $breakpoints-md-max) {
      top: -48px;
    }
  }

  .navbar {
    .link {
      @media (max-width: $breakpoints-md-max) {
        color: $cl-text-primary-light;

        // &:hover {
        //   color: $cl-contrast;
        // }
      }
    }

    &__logo {
      @media (max-width: $breakpoints-md-max) {
        width: 100%;
        justify-content: flex-start;
        padding-left: 16px;
        border-right: none;
      }
    }

    &__menu {
      @media (max-width: $breakpoints-md-max) {
        position: fixed;
        bottom: -100%;
        padding-bottom: 48px;
        flex-direction: column;
        background-color: $cl-text-primary-dark;

        &.active {
          bottom: -48px;
        }
      }
    }

    &__list {
      @media (max-width: $breakpoints-md-max) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        border: none;
        padding: 12px 0;
      }

      &-btn {
        @media (max-width: $breakpoints-md-max) {
          path {
            fill: $cl-text-primary-light;
          }
          rect {
            stroke: $cl-border-dark;
          }
        }
      }
    }

    &__dropdown {
      @media (min-width: $breakpoints-lg-min) {
        border: 1px solid $cl-border-light;
        border-top: none;
        background-color: $cl-text-primary-light;
      }
    }
  }

  &__container {
    padding: 0;
    max-width: 100%;
  }
}

// === / HEADER ===

// === HERO ===
.hero {
  margin: 0;
  padding: 0;

  &__container {
    position: relative;
    height: 170vh;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image-behind {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    object-fit: cover;
    z-index: -2;
  }

  &__image-front {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    top: 70vh;
    object-fit: cover;
    z-index: 0;
  }

  &__text-block {
    position: fixed;
    top: 20vh;
    width: 60vw;
    color: $cl-text-primary-light;
    text-align: center;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include druk-cyr;
    font-size: 96px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  &__text {
    font-size: $font-size-xl;
    line-height: 140%;
    width: 50%;
  }
}
// === /HERO ===

// === MAP ===
.map {
  position: relative;
  height: 450px;
  background-color: $cl-text-primary-light;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 1200px;
    height: 620px;
    top: -170px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 28px 860px 40px 40px;
    background: url('../img/map/map-background.svg') right no-repeat $cl-text-primary-light;
    box-shadow: 0px 64px 72px rgba(46, 46, 46, 0.03), 0px 32px 32px rgba(46, 46, 46, 0.02),
      0px 12px 12px rgba(46, 46, 46, 0.01);
  }
}
// === /MAP ===

// === WORK WITH ===
.work-with {
  background-color: $cl-text-primary-light;
  &__container {
    padding-top: 140px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;

    & > *:not(:last-child) {
      border-right: none;
    }
  }
}
// === /WORK WITH ===

// === FEATURES ===
.features {
  color: $cl-text-primary-light;
  background-color: $cl-text-primary-dark;

  &__container {
    display: grid;
    grid-template-columns: 35% auto;
    max-width: 100vw;
    padding: 96px 0 0;
  }

  &__title {
    grid-column: 2/3;
  }

  &__slide {
    &-info {
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid $cl-border-dark;
      border-right: none;
    }

    &-number {
      @include druk-cyr;
      color: $cl-slide-number;
      font-size: $font-size-xxxl;
      height: 100%;
      padding: 40px;
      border-bottom: 1px solid $cl-border-dark;
    }

    &-text-block {
      padding: 40px;
    }

    &-title {
      font-size: $font-size-xxl;
      font-weight: 700;
      margin-bottom: 12px;
    }

    &-description {
      line-height: 140%;
    }

    &-image-wrapper {
      grid-column: 2/3;
      height: 100vh;
      background: url('../img/features/slide-1.png') center center no-repeat;
      background-size: cover;
    }

    &-image-filter {
      height: 100%;
      width: 100%;
      background: url('../img/filters/noise.gif');
      opacity: 0.06;
    }
  }
}
// === /FEATURES ===

// === NEWS ===
.news {
  background-color: $cl-text-primary-light;

  &__title {
    margin: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & > :nth-child(2) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 16.21%, rgba(0, 0, 0, 0) 50%),
        url('../img/news-card/news-card-background-2.jfif') 50% 50% no-repeat;
      background-size: cover;
    }

    & > *:last-child {
      border-top: none;
    }
  }
}
// === /NEWS ===

// === FOOTER ===
.footer {
  height: 100vh;
  color: $cl-text-primary-light;
  background-color: $cl-text-primary-dark;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  &__tickers {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 2vh 0;
  }

  &__ticker {
    &-row {
      display: flex;
      flex-wrap: nowrap;
      gap: 40px;
    }

    &-string {
      @include druk-cyr;
      font-size: 12vh;
      text-transform: uppercase;
      white-space: nowrap;

      &_outline {
        color: $cl-text-primary-dark;
        text-shadow: 1px 0 1px $cl-text-primary-light, 0 1px 1px $cl-text-primary-light,
          -1px 0 1px $cl-text-primary-light, 0 -1px 1px $cl-text-primary-light;
      }
    }
  }

  &__navbar {
    .navbar__list {
      border-right: 1px solid $cl-border-dark;
    }
    // .logo {
    //   width: 150px;
    //   justify-content: center;
    // }
  }

  &__info {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  &__contacts {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid $cl-border-dark;
    padding: 40px 20px;

    &-item {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      padding: 0 4px 12px;
    }

    &-title {
      font-size: $font-size-xs;
      color: $cl-slide-number;
      text-transform: lowercase;
      margin-bottom: 8px;
    }

    &-value {
      display: flex;
      gap: 12px;
      font-size: $font-size-xl;
      line-height: 140%;
    }

    &-link {
      padding-left: 0;
    }
  }

  &__copyright {
    grid-column: 2/3;
    font-size: $font-size-xs;
    color: $cl-slide-number;
    display: flex;
    border-top: 1px solid $cl-border-dark;
    border-left: 1px solid $cl-border-dark;
    gap: 20px;
    padding: 26px 20px;

    &-link {
      padding: 0;
    }
  }
}

// === /FOOTER ===
