// === / IMPORTS ===
@import 'normalize.scss';
@import 'fonts.scss';
// === /IMPORTS ===

// === MIXINS ===
@mixin pt-root-ui {
  font-family: 'PT Root UI', sans-serif;
}

@mixin druk-cyr {
  font-family: 'Druk Cyr', sans-serif;
}
// === /MIXINS ===

// === VARIABLES ===
$breakpoints-xs-min: 0;
$breakpoints-sm-min: 576px;
$breakpoints-md-min: 768px;
$breakpoints-lg-min: 992px;
$breakpoints-xl-min: 1200px;
$breakpoints-xxl-min: 1400px;

$breakpoints-xs-max: $breakpoints-sm-min - 0.02px;
$breakpoints-sm-max: $breakpoints-md-min - 0.02px;
$breakpoints-md-max: $breakpoints-lg-min - 0.02px;
$breakpoints-lg-max: $breakpoints-xl-min - 0.02px;
$breakpoints-xl-max: $breakpoints-xxl-min - 0.02px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 48px;
$font-size-xxxxl: 72px;

$cl-text-primary-dark: #2e2e2e;
$cl-text-primary-light: #ffffff;

$cl-text-secondary-light: #adadad;

$cl-border-light: #e4e4e4;
$cl-border-dark: #4d4d4d;

$cl-slide-number: #707070;

$cl-shadow: #171717;

$cl-contrast: #8a8cce;
// === /VARIABLES ===

// === ANIMATIONS ===
@keyframes ticker1 {
  from {
    transform: translate3d(0%, 0, 0);
  }
  to {
    transform: translate3d(-33.333333333%, 0, 0);
  }
}

@keyframes ticker2 {
  from {
    transform: translate3d(-5%, 0, 0);
  }
  to {
    transform: translate3d(-38.333333333%, 0, 0);
  }
}

@keyframes ticker3 {
  from {
    transform: translate3d(-10%, 0, 0);
  }
  to {
    transform: translate3d(-43.333333333%, 0, 0);
  }
}
// === /ANIMATIONS ===

// === COMMONS ===
body {
  @include pt-root-ui;
  font-size: $font-size-md;
  font-weight: 500;
  color: $cl-text-primary-dark;
  overflow-x: hidden;

  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  //overflow-y: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: realtive;
}

.main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 40px;
}

// === /COMMONS ===

// === COMPONENTS ===
.section-title {
  @include druk-cyr;
  font-size: $font-size-xxxxl;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 18px 40px;
  border: 1px solid $cl-border-light;
  background-color: inherit;
}

.link {
  color: inherit;
  font-weight: 500;
  line-height: 0.9;
  display: flex;
  gap: 4px;
  text-transform: lowercase;
  transition: color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    .btn-arrow__icon {
      transform: rotate(45deg);
      transition: transform 0.2s ease-in-out;
    }
  }

  &-move {
    display: flex;
    align-items: center;
    gap: 4px;
    text-transform: lowercase;
    cursor: pointer;

    &:hover {
      .link-move__inner {
        transform: translateY(-1.03em);
      }

      .btn-arrow__icon {
        transform: rotate(45deg);
      }

      span {
        margin: 0;
        padding: 0;
        line-height: 1;
      }
    }

    &__area {
      overflow: hidden;
    }

    &__inner {
      height: 1em;
      display: flex;
      flex-direction: column;
      transform: translateY(0);
      transition: transform 0.2s ease-in-out;

      span {
        margin: 0;
        padding: 0;
        line-height: 1;

        &:nth-child(2) {
          color: $cl-contrast;
        }
      }
    }
  }

  &_underline {
    color: $cl-slide-number;
    line-height: 1.3;
    font-size: $font-size-xs;
    display: inline-block;
    border-bottom: 0.6px solid $cl-slide-number;
    padding-top: 2px;
    transition: border-color 0.2s ease-in-out;

    &.link-move span:nth-child(2) {
      color: $cl-text-primary-light;
    }

    &:hover {
      border-color: $cl-text-primary-light;
    }
  }
}

.btn {
  position: relative;
  color: $cl-text-primary-dark;
  font-size: $font-size-lg;
  font-weight: 500;
  line-height: 0.9;
  padding: 24px 40px;
  background-color: inherit;
  text-transform: lowercase;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid $cl-border-light;
  cursor: pointer;

  &-filled {
    background-color: transparent;
    transition-property: color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      bottom: 0;
      right: 0;
      background-color: $cl-contrast;
      transition: height 0.2s ease-in-out;
      z-index: -1;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      right: 0;
      background-color: $cl-text-primary-light;
      z-index: -1;
    }

    &-arrow__icon {
      transform: rotate(0);
      transition: transform 0.2s ease-in-out;

      path {
        transition: stroke 0.2s ease-in-out;
      }
    }

    &:hover {
      color: $cl-text-primary-light;
      border-color: $cl-contrast;

      &::after {
        height: 100%;
      }

      .btn-arrow__icon {
        transform: rotate(45deg);
        transition: transform 0.2s ease-in-out;

        path {
          stroke: $cl-text-primary-light;
          transition: stroke 0.2s ease-in-out;
        }
      }

      .btn-burger__icon {
        span,
        &::before,
        &::after {
          background-color: $cl-text-primary-light;
          transition: background-color 0.2s ease-in-out;
        }
      }
    }
  }

  &-burger {
    display: none;
    padding: 16px;
    gap: 8px;
    transition-property: padding-right, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    @media (max-width: $breakpoints-md-max) {
      display: flex;

      &.active {
        & .btn-burger__icon {
          span {
            transform: scale(0);
          }
          &::before {
            transform: rotate(45deg);
            top: 6px;
          }
          &::after {
            transform: rotate(-45deg);
            bottom: 6px;
          }
        }
      }
    }

    &__icon {
      position: relative;
      width: 16px;
      height: 14px;

      span,
      &::before,
      &::after {
        background-color: $cl-text-primary-dark;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition-property: transform, background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
      }

      span {
        top: 6px;
      }

      &::before {
        content: '';
        top: 0;
      }

      &::after {
        content: '';
        bottom: 0;
      }
    }

    &__text {
      transition: color 0.2s ease-in-out;
    }
  }

  &-arrow {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      margin-top: 1px;
      transition: transform 0.2s ease-in-out;

      path {
        stroke: $cl-text-primary-dark;
        transition: stroke 0.2s ease-in-out;
      }
    }
  }

  &-close {
    position: relative;
    width: 64px;
    height: 64px;
    padding: 16px;
    border: 1px solid $cl-border-dark;

    &__icon {
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        top: 49%;
        left: 34%;
        background-color: $cl-text-primary-light;
        transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &:hover &__icon {
      &:before,
      &:after {
        transform: rotate(0deg);
      }
    }
  }

  &-dropdown {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 1px solid $cl-border-light;

    @media (max-width: $breakpoints-md-max) {
      border: 1px solid $cl-border-dark;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 2px;
      top: 6px;
      left: 4px;
      background-color: $cl-text-primary-dark;

      @media (max-width: $breakpoints-md-max) {
        background-color: $cl-text-primary-light;
      }
    }

    &::after {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }
  }

  &-social {
    display: block;
    border: none;
    padding: 0;

    &:hover {
      color: transparent;
      background-color: transparent;
      border: none;

      path {
        stroke: none;
      }
    }
  }

  &-tickers {
    border: none;
    color: $cl-text-primary-light;
    background: rgba($cl-contrast, 0.64);
    box-shadow: 0px 4px 4px rgba($cl-shadow, 0.2), 0px 8px 24px rgba($cl-shadow, 0.32);
    backdrop-filter: blur(24px);
    white-space: normal;

    &:hover {
      background: rgba($cl-contrast, 0.64);
    }
  }
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $cl-text-primary-light;
  z-index: 10;

  @media (min-width: $breakpoints-lg-min) {
    height: 64px;
  }

  &__btn-burger {
    height: 100%;
    z-index: 1;
  }

  &__btn-close {
    @media (max-width: $breakpoints-md-max) {
      width: 48px;
      height: 48px;
      border-bottom: none;
    }
  }

  &__btn-contact {
    height: 100%;

    @media (max-width: $breakpoints-lg-max) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: $breakpoints-md-max) {
      position: fixed;
      bottom: -64px;
      width: 100%;
      height: 64px;
      background-color: $cl-text-primary-light;
    }
  }

  &__menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: bottom 0.6s ease-in-out;
    background-color: inherit;
    z-index: -1;
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: 1px solid $cl-border-light;
    border-left: none;
    border-right: none;
    background-color: inherit;

    @media (max-width: $breakpoints-lg-max) {
      gap: 20px;
    }

    @media (max-width: $breakpoints-md-max) {
      gap: 0px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: $font-size-lg;
    font-weight: 500;
    line-height: 90%;
    text-transform: lowercase;
    cursor: pointer;

    @media (min-width: $breakpoints-lg-min) {
      height: 100%;
    }

    @media (max-width: $breakpoints-md-max) {
      position: relative;
      width: 100%;
      justify-content: flex-start;
    }

    &:not([data-link='dropdown']) {
      @media (max-width: $breakpoints-md-max) {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 0;
          background-color: $cl-contrast;
          transition: height 0.2s ease-in-out;
          z-index: 1;
        }

        &:hover::after {
          height: 100%;
        }

        .navbar__link {
          z-index: 2;
        }
      }
    }

    &[data-link='dropdown']:hover {
      & > .navbar__dropdown {
        transform: translateY(0);
      }

      .btn-dropdown {
        &::after {
          @media (min-width: $breakpoints-lg-min) {
            transform: rotate(0);
          }
        }
      }

      .link-move__inner {
        transform: translateY(-1.03em);
      }
    }

    &.active {
      @media (max-width: $breakpoints-md-max) {
        & > .navbar__link {
          .link-move__inner {
            transform: translateY(-1.03em);
          }
        }

        & > .navbar__dropdown {
          top: 100%;
          max-height: 500px;
          padding: 12px 0px;
          border: 1px solid $cl-border-dark;
          border-left: none;
          border-right: none;
          margin: 12px 0;
        }

        .btn-dropdown {
          &::after {
            transform: rotate(0);
          }
        }
      }
    }
  }

  &__link {
    gap: 8px;

    @media (min-width: $breakpoints-lg-min) {
      height: 100%;
      align-items: center;
    }

    @media (max-width: $breakpoints-md-max) {
      color: $cl-text-primary-light;
      width: 100%;
      padding: 12px 16px;

      &:hover {
        .link-move__inner {
          transform: translateY(0);
        }
      }
    }
  }

  &__divider {
    background-color: $cl-border-light;
    width: 1px;
    height: 16px;
    margin: 0px 8px;

    @media (max-width: $breakpoints-md-max) {
      display: none;
    }
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    background-color: $cl-text-primary-dark;
    transition-property: transform, max-height, padding, border;
    transition-duration: 0.3s, 0.3s, 0.2s, 0.2s;
    transition-timing-function: ease-in-out;

    @media (min-width: $breakpoints-lg-min) {
      padding: 12px 0;
      top: 100%;
      border: 1px solid $cl-border-light;
      transform: translateY(-100%);
      z-index: -1;
    }

    @media (max-width: $breakpoints-md-max) {
      position: static;
      max-height: 0;
    }

    .link {
      padding: 12px 20px;

      @media (max-width: $breakpoints-md-max) {
        padding: 12px 16px;
      }
    }

    &-item {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-start;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: $cl-contrast;
        transition: height 0.2s ease-in-out;
        z-index: -1;
      }

      &:hover {
        &::after {
          height: 100%;
        }

        .link {
          color: $cl-text-primary-light;
          transition: color 0.2s ease-in-out;
        }
      }
    }
  }

  &_dark {
    color: $cl-text-primary-light;
    background-color: $cl-text-primary-dark;

    .logo {
      border: 1px solid $cl-border-dark;
      path {
        fill: $cl-text-primary-light;
      }
    }

    .btn-dropdown {
      border: 1px solid $cl-border-dark;
      &::before,
      &::after {
        background-color: $cl-text-primary-light;
      }
    }

    .navbar {
      &__list {
        border-top: 1px solid $cl-border-dark;
        border-bottom: 1px solid $cl-border-dark;
      }
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  top: 100%;
  color: $cl-text-primary-light;
  background-color: $cl-text-primary-dark;
  z-index: 20;
  transition: top 0.4s ease-in-out;

  &.active {
    top: 0;

    .popup__navbar {
      top: 0;
    }
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 89px 40px 40px;
    top: 100%;
    transition: top 0.4s ease-in-out;

    &-form {
      display: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;

      &.active {
        display: grid;
        top: 0;
      }
    }

    &-success {
      display: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      text-align: center;

      &.active {
        display: flex;
        top: 0;
      }
    }
  }

  &__navbar {
    position: fixed;
    top: -100%;
    left: 0;
    border-bottom: 1px solid $cl-border-dark;
    transition: top 0.6s ease-in-out;

    .logo {
      border-bottom: none;
    }
  }

  &__title {
    @include druk-cyr;
    font-size: 96px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: $font-size-xl;
    line-height: 140%;
  }

  &__contacts-list {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
  }

  &__form {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    align-content: end;

    &-label {
      margin-bottom: 16px;
    }

    &-label:nth-child(2) {
      margin-bottom: 32px;
    }

    &-btn {
      margin-bottom: 12px;
    }
  }

  &__link {
    padding-bottom: 4px;

    .link-move__inner {
      padding-top: 2px;
    }
  }

  &__btn {
    background-color: $cl-text-primary-light;
  }
}

.form {
  &__label {
    position: relative;
    @include druk-cyr;
    color: $cl-text-primary-light;
    font-size: $font-size-xxxl;
    line-height: 110%;
    text-transform: uppercase;

    &-text {
      line-height: 110%;
      position: absolute;
      left: 0;
      transition: 0.2s ease-in-out;
    }
  }

  &__input {
    width: 100%;
    font-size: 40px;
    color: inherit;
    text-transform: inherit;
    background: transparent;
    border-bottom: 1px solid $cl-border-dark;
    transition-property: font-size, border-bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover {
      border-bottom: 1px solid $cl-text-primary-light;
    }

    &:focus ~ .form__label-text,
    &:not(:placeholder-shown) ~ .form__label-text {
      color: $cl-text-secondary-light;
      font-size: 10px;
      top: 0;
    }
  }

  &__text {
    color: $cl-slide-number;
    font-size: $font-size-xs;
  }
}

.count-block {
  display: flex;
  gap: 40px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    @include druk-cyr;
    font-size: $font-size-xxxl;
    line-height: 110%;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__subtitle {
    color: $cl-text-secondary-light;
    text-transform: lowercase;
  }
}

.work-card {
  position: relative;
  width: 33.33%;
  display: grid;
  row-gap: 24px;
  flex-direction: column;
  border: 1px solid $cl-border-light;
  background-color: transparent;
  padding: 0 24px 24px;
  transition: color 0.4s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $cl-contrast;
    transition: height 0.4s ease-in-out;
    z-index: -1;
  }

  &__image {
    width: 100%;
    object-fit: cover;

    &-wrapper {
      width: 100%;
    }

    & path {
      transition: stroke 0.4s ease-in-out;
    }
  }

  &__title {
    font-size: $font-size-xxl;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__description {
    line-height: 140%;
    font-weight: 500;
  }

  &__link {
    font-size: $font-size-lg;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    span:nth-child(2) {
      color: $cl-text-primary-light;
    }
  }

  &:hover {
    color: $cl-text-primary-light;

    &::after {
      height: 100%;
    }

    .work-card__image path {
      stroke: $cl-text-primary-light;
    }

    .btn-arrow__icon path {
      stroke: $cl-text-primary-light;
      transition: stroke 0.2s ease-in-out;
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 12px;
  padding: 24px;
  color: $cl-text-primary-light;
  overflow: hidden;
  cursor: pointer;

  &__tag {
    display: inline-block;
    font-size: $font-size-xs;
    padding: 4px 6px;
    border-radius: 50px;
    background: rgba($cl-text-primary-light, 0.24);
    border: 1px solid rgba($cl-text-primary-light, 0.32);
    text-transform: lowercase;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
  }

  &__description {
    font-size: $font-size-sm;
    line-height: 1.4;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      opacity: 0.64;
    }
  }

  &_size {
    &_normal {
      height: 100%;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        inset: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform 0.2s ease-in-out;
        z-index: -1;
      }

      &:hover {
        &::before {
          transform: scale(1.05);
        }
      }

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        inset: 0;
        background: url('../img/filters/noise.gif');
        opacity: 0.03;
      }
    }

    &_small {
      color: $cl-text-primary-dark;
      border: 1px solid $cl-border-light;
      transition: color 0.4s ease-in-out;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: $cl-contrast;
        transition: height 0.4s ease-in-out;
        z-index: -1;
      }

      .card__tag {
        border: 1px solid $cl-border-light;
      }

      &:hover {
        color: $cl-text-primary-light;

        &::after {
          height: 100%;
        }
      }
    }
  }

  &_type {
    &_person {
      gap: 0;

      &:before {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 16.21%, rgba(0, 0, 0, 0) 50%),
          url('../img/features/person.jfif');
      }

      .card {
        &__tag {
          margin-bottom: 12px;
        }

        &__title {
          margin-bottom: 8px;
        }

        &__description {
          color: rgba($cl-text-primary-light, 0.64);
          margin-bottom: 10px;
        }
      }

      &:hover {
        &::before {
          transform: none;
        }
      }
    }
  }
}

.contacts-list {
  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: $font-size-xs;
    color: $cl-slide-number;
    text-transform: lowercase;
  }

  &__value {
    display: flex;
    gap: 12px;
    font-size: $font-size-xl;
    line-height: 140%;
  }

  &__link {
    margin-right: auto;
  }

  &__address {
    flex-direction: column;
    align-items: flex-start;
    text-transform: none;
  }
}
// === /COMPONENTS ===

// === HEADER ===
.header {
  &__container {
    padding: 0;
    max-width: 100%;
  }

  &__navbar {
    top: -64px;
    position: fixed;
    z-index: 15;
    transition: top 0.6s ease-in-out;

    @media (max-width: $breakpoints-md-max) {
      height: 48px;
      top: -48px;
    }
  }

  .navbar {
    &__logo {
      @media (max-width: $breakpoints-md-max) {
        width: 100%;
        justify-content: flex-start;
        padding-left: 16px;
        border-right: none;
      }
    }

    &__menu {
      @media (max-width: $breakpoints-md-max) {
        position: fixed;
        bottom: -100%;
        padding-top: 48px;
        flex-direction: column;
        background-color: $cl-text-primary-dark;

        &.active {
          bottom: 0px;

          .navbar__btn-contact {
            bottom: 0;
          }
        }
      }
    }

    &__list {
      @media (max-width: $breakpoints-md-max) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        border: none;
        padding: 12px 0;
        margin-bottom: 64px;
        overflow-y: auto;
      }
    }

    &__dropdown {
      @media (min-width: $breakpoints-lg-min) {
        background-color: $cl-text-primary-light;
      }
    }
  }
}
// === / HEADER ===

// === HERO ===
.hero {
  margin: 0;
  padding: 0;

  &__container {
    position: relative;
    height: 170vh;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after,
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
    }

    &::after {
      background: url('../img/filters/noise.gif');
      opacity: 0.08;
    }

    &::before {
      height: 70vh;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 26.09%, rgba(0, 0, 0, 0) 50%);
    }
  }

  &__image-behind {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    object-fit: cover;
    z-index: 1;
  }

  &__image-front {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    top: 70vh;
    object-fit: cover;
    z-index: 3;
  }

  &__text-block {
    position: fixed;
    top: 20vh;
    width: 60vw;
    color: $cl-text-primary-light;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
  }

  &__title {
    @include druk-cyr;
    font-size: 96px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  &__text {
    font-size: $font-size-xl;
    line-height: 140%;
    width: 70%;
    font-weight: 500;
  }
}
// === /HERO ===

// === MAP ===
.map {
  position: relative;
  height: 450px;
  background-color: $cl-text-primary-light;
  z-index: 4;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 1200px;
    height: 620px;
    top: -170px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 28px 860px 40px 40px;
    background: url('../img/map/map-background.svg') right no-repeat $cl-text-primary-light;
    box-shadow: 0px 64px 72px rgba(46, 46, 46, 0.03), 0px 32px 32px rgba(46, 46, 46, 0.02),
      0px 12px 12px rgba(46, 46, 46, 0.01);
  }
}
// === /MAP ===

// === WORK WITH ===
.work-with {
  position: relative;
  z-index: 2;
  background-color: $cl-text-primary-light;
  &__container {
    padding-top: 140px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;

    & > *:not(:last-child) {
      border-right: none;
    }
  }
}
// === /WORK WITH ===

// === FEATURES ===
.features {
  position: relative;
  color: $cl-text-primary-light;
  background-color: $cl-text-primary-dark;
  z-index: 2;

  &__container {
    display: grid;
    grid-template-columns: 35% auto;
    max-width: 100vw;
    padding: 96px 0 0;
  }

  &__title {
    grid-column: 2/3;
  }

  &__slider {
    grid-column: 1/3;
  }

  &-slide {
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    display: grid;
    grid-template-columns: 35% auto;
    background-color: $cl-text-primary-dark;

    @media (max-width: $breakpoints-md-max) {
      top: 48px;
      height: calc(100vh - 48px);
    }

    &__info {
      position: relative;
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid $cl-border-dark;
      border-right: none;
    }

    &__number {
      @include druk-cyr;
      color: $cl-slide-number;
      font-size: $font-size-xxxl;
      height: 100%;
      padding: 40px;
      border-bottom: 1px solid $cl-border-dark;
    }

    &__text-block {
      padding: 40px;
    }

    &__title {
      font-size: $font-size-xxl;
      font-weight: 700;
      margin-bottom: 12px;
    }

    &__description {
      line-height: 140%;
    }

    &__image-wrapper {
      grid-column: 2/3;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &[data-slide-id='1'] {
      .features-slide__image-wrapper {
        background-image: url('../img/features/slide-1.png');
      }
    }
    &[data-slide-id='2'] {
      .features-slide__image-wrapper {
        background-image: url('../img/features/slide-2.jfif');
      }
    }

    &__image-filter {
      height: 100%;
      width: 100%;
      background: url('../img/filters/noise.gif');
      opacity: 0.06;
    }
  }

  &__card-slider {
    height: 100%;

    &-wrapper,
    &-items {
      height: inherit;
    }

    &-controls {
      top: 40px;
      left: calc(35% - 88px - 40px);
      display: flex;
      gap: 8px;
    }
  }
}
// === /FEATURES ===

// === NEWS ===
.news {
  position: relative;
  background-color: $cl-text-primary-light;
  z-index: 2;

  &__title {
    margin: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 270px);

    & .card_size_normal:nth-child(1)::before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 16.21%, rgba(0, 0, 0, 0) 50%),
        url('../img/news-card/news-card-background-1.jfif');
    }

    & .card_size_normal:nth-child(2)::before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 16.21%, rgba(0, 0, 0, 0) 50%),
        url('../img/news-card/news-card-background-2.jfif');
    }

    & > *:last-child {
      border-top: none;
    }

    .card_size_normal {
      grid-row: 1/3;
    }
  }
}
// === /NEWS ===

// === FOOTER ===
.footer {
  color: $cl-text-primary-light;
  background-color: $cl-text-primary-dark;

  @media (min-width: $breakpoints-lg-min) {
    position: sticky;
    bottom: 0;
    height: 100vh;
    z-index: 0;
  }

  .navbar {
    background-color: $cl-text-primary-dark;

    @media (max-width: $breakpoints-md-max) {
      flex-direction: column;

      &__logo {
        height: 64px;
        width: 100%;
        border-bottom: none;
      }

      &__list {
        flex-direction: column;
        align-items: center;
        padding: 12px 0;
      }

      &__link {
        justify-content: center;
        text-align: center;
      }
    }

    &__item {
      &[data-link='dropdown']:hover {
        & > .navbar__dropdown {
          transform: translateY(0);
        }
      }
    }

    &__dropdown {
      border-color: $cl-border-dark;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  &__tickers {
    width: 100vw;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    padding: 2vh 0;
    cursor: none;

    @media (max-width: $breakpoints-md-max) {
      padding: 64px 0;
    }

    &-container {
      position: relative;
      overflow: hidden;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      z-index: 11;
      background-color: $cl-text-primary-dark;
    }

    &-btn {
      $width: 7vw;
      font-size: $width / 7;
      position: absolute;
      top: 50%;
      left: 50%;
      width: $width;
      height: $width;
      border-radius: $width / 2;
      transform: translate(-$width / 2, -$width / 2) rotate(-15deg);
      cursor: none;
    }
  }

  &__ticker {
    &-row {
      width: 600vw;
      display: flex;
      justify-content: space-around;
      white-space: nowrap;
      animation-duration: 100s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-name: inherit;

      &-container {
        animation-duration: 50s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        animation-play-state: paused;

        &:nth-child(odd) {
          animation-direction: normal;

          .footer__ticker-row {
            animation-direction: reverse;
          }
        }

        &:nth-child(1) {
          animation-name: ticker1;
        }
        &:nth-child(2) {
          animation-name: ticker2;
        }
        &:nth-child(3) {
          animation-name: ticker3;
        }
      }
    }

    &-string {
      @include druk-cyr;
      font-size: 5.5vw;
      text-transform: uppercase;
      white-space: nowrap;

      @media (min-width: $breakpoints-lg-min) {
        &:nth-child(4n + 1) {
          color: $cl-text-primary-dark;
          text-shadow: 1px 0 1px $cl-text-primary-light, 0 1px 1px $cl-text-primary-light,
            -1px 0 1px $cl-text-primary-light, 0 -1px 1px $cl-text-primary-light;
        }
      }
    }
  }

  &__info {
    @media (min-width: $breakpoints-lg-min) {
      display: grid;
      grid-template-columns: 150px 1fr;
      min-height: 268px;
    }
  }

  &__contacts-list {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid $cl-border-dark;
    padding: 44px 20px;

    @media (max-width: $breakpoints-md-max) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 24px 16px;
    }

    .contacts-list {
      &__item {
        max-width: 300px;
      }

      &__link {
        @media (max-width: $breakpoints-md-max) {
          margin: 0;
        }
      }
    }
  }

  &__contacts-item {
    @media (max-width: $breakpoints-md-max) {
      align-items: center;
      text-align: center;
    }
  }

  &__copyright {
    grid-column: 2/3;
    font-size: $font-size-xs;
    color: $cl-slide-number;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $cl-border-dark;
    border-left: 1px solid $cl-border-dark;
    gap: 20px;
    padding: 14px 20px;

    @media (max-width: $breakpoints-md-max) {
      flex-direction: column;
    }

    &-left {
      display: flex;
      align-items: center;
      gap: 20px;

      @media (max-width: $breakpoints-md-max) {
        flex-direction: column;
      }
    }
  }
}
// === /FOOTER ===

.visible {
  opacity: 1;
  pointer-events: all;
}
